<?xml version='1.0' encoding='utf-8'?>
<widget id="es.ecodes.carbonpedia.app" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" 
	xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0" 
>
	<!-- xmlns:android="http://schemas.android.com/apk/res/android" -->
	
    <name>Carbonpedia</name>
    <description>
         Carbonpedia  es una base de datos abierta sobre huella de carbono tanto de entidades, como de productos y eventos, centrada en el ámbito español. 
    </description>
    <author email="carbonpedia@ecodes.org" href="http://www.ecodes.org/carbonpedia/">
      Fergus Reig, ECODES
    </author>
	
    <content src="index.html" />
    <access origin="*" />
	
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage 
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
	
	<preference name="SplashScreen" value="splashimage" /> 
	<!-- <preference name="SplashScreen" value="splashscreen" /> -->
	<!--<preference name="SplashScreenDelay" value="10000" /> -->
	<preference name="auto-hide-splash-screen" value="true" />
	
	<!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>
	
	<!-- No abrir desde 0 la aplicación cada vez que se pulsa el icono -->
<!-- 	<preference name="android:launchMode" value="singleInstance" /> -->

	<!-- compilar para android e ios -->
	<gap:platform name="android" />
	<gap:platform name="ios" />
	
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<!-- <access origin="*" browserOnly="true"/> --> 
	 
	<icon src="www/img/res/drawable/icon_carbonpedia.png" />
	<icon src="www/img/res/drawable-ldpi/icon_carbonpedia.png" gap:platform="android" gap:density="ldpi" />
	<icon src="www/img/res/drawable-mdpi/icon_carbonpedia.png" gap:platform="android" gap:density="mdpi" />
	<icon src="www/img/res/drawable-hdpi/icon_carbonpedia.png" gap:platform="android" gap:density="hdpi" />
	<icon src="www/img/res/drawable-xhdpi/icon_carbonpedia.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="www/img/res/drawable-xxhdpi/icon_carbonpedia.png" gap:platform="android" gap:density="xxhdpi" />

	<gap:splash src="www/img/res/drawable/splashimage.9.png" /> 
	<!-- <gap:splash src="www/img/res/drawable/splashimage.9.png" gap:platform="android" /> -->
	<gap:splash src="www/img/res/drawable-ldpi/splashimage.9.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="www/img/res/drawable-mdpi/splashimage.9.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="www/img/res/drawable-hdpi/splashimage.9.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="www/img/res/drawable-xhdpi/splashimage.9.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="www/img/res/drawable-xxhdpi/splashimage.9.png" gap:platform="android" gap:density="xxhdpi" />

	<!-- iPhone and iPod touch -->
	<gap:splash src="www/img/iphone_splash/center_splashimage.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="www/img/iphone_splash/center_splashimage.png" gap:platform="ios" width="640" height="960" />

	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<gap:splash src="www/img/iphone_splash/center_splashimage.png" gap:platform="ios" width="640" height="1136" />

	<!-- iPad -->
	<gap:splash src="www/img/iphone_splash/center_splashimage.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="www/img/iphone_splash/center_splashimage.png" gap:platform="ios" width="1024" height="768" />

	<!-- Retina iPad -->
	<gap:splash src="www/img/iphone_splash/center_splashimage.png" gap:platform="ios" width="1536" height="2048" />
	<gap:splash src="www/img/iphone_splash/center_splashimage.png" gap:platform="ios" width="2048" height="1536" />

	<!-- iPhone / iPod Touch  -->
	<icon src="www/img/iphone_icon/icon_carbonpedia.png" gap:platform="ios" width="60" height="60" />
	<icon src="www/img/iphone_icon/icon_carbonpedia.png" gap:platform="ios" width="120" height="120" />

	<!-- iPad -->
	<icon src="www/img/iphone_icon/icon_carbonpedia.png" gap:platform="ios" width="76" height="76" />
	<icon src="www/img/iphone_icon/icon_carbonpedia.png" gap:platform="ios" width="152" height="152" />

	<!-- Settings Icon -->
	<icon src="www/img/iphone_icon/icon_carbonpedia.png" gap:platform="ios" width="29" height="29" />
	<icon src="www/img/iphone_icon/icon_carbonpedia.png" gap:platform="ios" width="58" height="58" />

	<!-- Spotlight Icon -->
	<icon src="www/img/iphone_icon/icon_carbonpedia.png" gap:platform="ios" width="40" height="40" />
	<icon src="www/img/iphone_icon/icon_carbonpedia.png" gap:platform="ios" width="80" height="80" />

    <!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	
	<preference name="loglevel" value="VERBOSE" />
	
<!--  	<feature name="debug-server" required="true">
      <param name="domain" value="CARBONPEDIA-PC.ecodes.com"/>
      <param name="key" value="carbonpedia01"/>
    </feature>  -->
	
</widget>
