<ion-view title="{{translation.MAIN}}"> 
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> 
	<ion-content class="has-header padding" data-tap-disabled="true">	
		<div class="scroll-type">
			<a href="#/tab/carbonpedia"><img class="img-type" src="img/carbonpedia.png" alt="Carbonpedia"></a>
			<div class="row row-type col-type col-type-0" style="min-height: {{type[0][1]}}%; max-height: {{type[0][1]}}%; " ng-click="click(0);">
				<a href="#/tab/{{type[0][3]}}" class="col a-type container">
					<h2 class="write_type"> {{type[0][0]}} </h2>
				</a> 
			</div>
			<div class="row row-type col-type col-type-1" style="min-height: {{type[1][1]}}%; max-height: {{type[1][1]}}%; " ng-click="click(1);">
				<a  href="#/tab/{{type[1][3]}}" class="col a-type container">
					<h2 class="write_type"> {{type[1][0]}} </h2>
				</a>
			</div>
			<div class="row row-type col-type col-type-2" style="min-height: {{type[2][1]}}%; max-height: {{type[2][1]}}%; " ng-click="click(2);">
				<a  href="#/tab/{{type[2][3]}}" class="col a-type container">
					<h2 class="write_type"> {{type[2][0]}} </h2>
				</a>
			</div>
		</div>		
	</ion-content>
</ion-view>