<ion-view title="Carbonpedia">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <h4>Carbonpedia  es una base de datos abierta sobre huella de carbono tanto de entidades, productos como eventos, centrada en el ámbito español.<h4>
  
  	<p>Actualmente el número total de huellas registradas en Carbopedia es de {{total}}. </p>

	<div id="chart_verified"></div>
	<div id="chart_type"></div>
  </ion-content>
</ion-view>
