<ion-view title="Carbonpedia">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <h4>Carbonpedia es una base de datos abierta de huella de carbono tanto de entidad, como de evento y producto. <h4>
   <br/>
   <h4>Aquí vemos la distribución siempre actualizada de los {{total}} registros de Carbonpedia por tipo de huella. <h4>
	
	<!-- <h4 class="title_graphic">{{typeTitle}}</h4> -->
	<div class="draw_graphic" id="chart_type"></div>
  	<p ng-if="!supportsSvg" class="text_graphic" data-ng-repeat="i in [] | range: type.length">
		<i class="icon ion-stop" style="color : {{chartColors[i].color}};"></i> {{type[i][0]}}
 	</p>
	<br/>
	<h4> Y aquí el porcentaje de huellas verificadas, frente a las no verificadas. <h4>
	<!-- <h4 class="title_graphic">{{verifiedTitle}}</h4> -->
	<div class="draw_graphic" id="chart_verified"></div>
  	<p ng-if="!supportsSvg" class="text_graphic" data-ng-repeat="i in [] | range: verified.length">
		<i class="icon ion-stop" style="color : {{chartColors[i].color}};"></i> {{verified[i][0]}}
 	</p>
	<br/>
  </ion-content>
</ion-view>
