<ion-view title="{{translation.BUSQUEDA}}">
 	<ion-nav-buttons side="left">
		<button  ng-click="clearForm()" class="button button-assertive button-carbonpedia">Limpiar</button>
	</ion-nav-buttons> 
	<ion-content has-header="true" padding="true">  
		<form name="searchForm" ng-submit="searchList()">		
			<div class="list">				
			  <label class="item item-input item-{{okSelect}}">
				<div class="input-label">
				  Actividad
				</div>
				<select ng-model="formSearch.activity" ng-options="activity for activity in activities"
					ng-focus="functionFocus('activities', 'activity', 'Todas');"
					ng-blur="functionBlur('activities', 'activity', 'Todas');"			
				>
				</select>
			  </label>
		
 			  <label class="item item-input item-{{okSelect}}">
				<div class="input-label">
				  Ciudad
				</div>
				<select ng-model="formSearch.city" ng-options="city for city in cities"
					ng-focus="functionFocus('cities', 'city', 'Todas');"
					ng-blur="functionBlur('cities', 'city', 'Todas');"				
				>
				</select>
			  </label>
		
			  <label class="item item-input item-{{okSelect}}">
				<div class="input-label">
				  Tipo
				</div>
				<select ng-model="formSearch.type" ng-options="type as type | even for type in types"
					ng-focus="functionFocus('types', 'type', 'Todos');"
					ng-blur="functionBlur('types', 'type', 'Todos');"							
				>
				</select>
			  </label>
		
			  <label class="item item-input item-{{okSelect}}">
				<div class="input-label">
				  {{translation.AGNO}}
				</div>
				<select ng-model="formSearch.year" ng-options="year for year in years"
					ng-focus="functionFocus('years', 'year', 'Todos');"
					ng-blur="functionBlur('years', 'year', 'Todos');"				
				>
				</select>
			  </label>
			  
			<label class="item item-input">
			  <span class="input-label">Entidad</span>
			  <input name="input-entity" ng-model="formSearch.entity" type="text" >
			</label>
	
			<label class="item item-input">
			  <span class="input-label">Producto</span>
			  <input name="input-entity" ng-model="formSearch.product" type="text" >
			</label> 
			  
			</div>		
			
			<div class="padding">
				<button class="button button-block button-assertive button-carbonpedia">Buscar</button>
			</div>
		</form> 
	</ion-content>
</ion-view>
